<%- include ('../../include/header.ejs') %> 




    <section>
        <div class="container">
            <div class="row">
          <div class="col-md-10 col-lg-8 col-xl-6 mx-auto">
            <div class="p-4 p-sm-5 bg-primary-soft rounded">
                        
                        <!-- Form START -->
                        <form method="post" action="/info/login" class="mt-4">
                            <!-- Email -->
                            <div class="mb-3">
                                <label class="form-label" for="exampleInputEmail1">login</label>
                                <input type="text" class="form-control" name="loginUtilisateur" id="exampleInputEmail1" placeholder="login">
                            </div>
                            <!-- Password -->
                            <div class="mb-3">
                                <label class="form-label" for="exampleInputPassword1">Mot de passe</label>
                                <input type="password" class="form-control" name="passwordUtilisateur" id="exampleInputPassword1" placeholder="*********">
                            </div>
                            
                            <!-- Button -->
                            <div class="row align-items-center">
                                <div class="col-sm-4">
                                    <button type="submit" class="btn btn-success">se connecter </button>
                                </div>
                            </div>
                        </form>
                        
            </div>
          </div>
        </div>
        </div>

        

    </section>


<!-- Back to top -->
<div class="back-top"><i class="bi bi-arrow-up-short"></i></div>

<%- include ('../../include/footer.ejs') %> 
