
<!-- =======================
JS libraries, plugins and custom scripts -->

<!-- Bootstrap JS -->
<script src="/front/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Vendors -->
<script src="/front/assets/vendor/tiny-slider/tiny-slider.js"></script>

<!-- Template Functions -->
<script src="/front/assets/js/functions.js"></script>

<!------------------------------------------------------------>

 
<!-- jQuery JS -->
<script src="back/js/jquery-1.12.0.min.js"></script>
<!-- Bootstrap JS -->
<script src="back/js/bootstrap.min.js"></script>
<!-- Animate JS -->
<script src="back/vendors/animate/wow.min.js"></script>
<!-- Camera Slider -->
<script src="back/vendors/camera-slider/camera.min.js"></script>
<!-- Isotope JS -->
<script src="back/vendors/isotope/imagesloaded.pkgd.min.js"></script>
<script src="back/vendors/isotope/isotope.pkgd.min.js"></script>
<!-- Progress JS -->
<script src="back/vendors/Counter-Up/jquery.counterup.min.js"></script>
<script src="back/vendors/Counter-Up/waypoints.min.js"></script>
<!-- Owlcarousel JS -->
<script src="back/vendors/owl_carousel/owl.carousel.min.js"></script>
<!-- Stellar JS -->
<script src="back/vendors/stellar/jquery.stellar.js"></script>
<!-- Theme JS -->
<script src="back/js/theme.js"></script>

</body>
</html>