<!DOCTYPE html>
<html lang="en">
<head>
	<title>Blogzine - Blog and Magazine Bootstrap 5 Theme</title>
	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="Webestica.com">
	<meta name="description" content="Bootstrap based News, Magazine and Blog Theme">

	<!-- Favicon -->
	<link rel="shortcut icon" href="/back/images/fin.jpg">

	<!-- Google Font -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="/front/css2.css?family=Nunito+Sans:wght@400;700&family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="/front/assets/vendor/font-awesome/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="/front/assets/vendor/bootstrap-icons/bootstrap-icons.css">
	<link rel="stylesheet" type="text/css" href="/front/assets/vendor/tiny-slider/tiny-slider.css">
    <script src="https://cdn.tiny.cloud/1/vgwzf15khmel8f39jk8cvgwywed9sd08t1yodtswkdclcgwj/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    
	<!-- Theme CSS -->
	<link id="style-switch" rel="stylesheet" type="text/css" href="/front/assets/css/style.css">
</head>

<body>

    <header class="navbar-light navbar-sticky header-static">
        <!-- Logo Nav START -->
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <!-- Logo START -->
                <a class="navbar-brand" href="/">
                    <img class="navbar-brand-item light-mode-item" src="/back/images/fin.jpg" alt="logo"  width="120px">				 			
                </a>
                <!-- Logo END -->
    
                <!-- Responsive navbar toggler -->
                <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="text-body h6 d-none d-sm-inline-block">Menu</span>
                  <span class="navbar-toggler-icon"></span>
                </button>
    
                <!-- Main navbar START -->
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <!-- Nav Search START -->
                    <div class="nav mt-3 mt-lg-0 px-4 flex-nowrap align-items-center">
                        <div class="nav-item w-100">
                            <form class="rounded position-relative" method="post" action="  /chercher">
                                <input class="form-control pe-5 bg-light" name="chercher" type="search" placeholder="chercher un article"  aria-label="Search">
                                <button class="btn bg-transparent px-2 py-0 position-absolute top-50 end-0 translate-middle-y" type="submit"><i class="bi bi-search fs-5"> </i></button>
                            </form>
                        </div>
                    </div>
                    <!-- Nav Search END -->
                    <ul class="navbar-nav navbar-nav-scroll ms-auto">
                        
                        <!-- Nav item 1 Demos -->
                        <li class="nav-item dropdown">
                            <a class="nav-link  active" href="/" id="homeMenu"  >Home</a>
                            
                        </li>
    
                        <!-- Nav item 2 Pages -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="homeMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
							<ul class="dropdown-menu" aria-labelledby="homeMenu">
                                <% if(locals.user){%>
                                        <li> <a class="dropdown-item" href="/admin/article/liste/juridique">jurudique</a></li>
                                        <li> <a class="dropdown-item" href="/admin/article/liste/scientifique">scientifique</a></li>
                                        <li> <a class="dropdown-item" href="/admin/article/liste/economique"> economique </a></li>
                                    <%}else{ %> 
                                        <li> <a class="dropdown-item" href="/article/juridique">jurudique</a></li>
                                        <li> <a class="dropdown-item" href="/article/scientifique">scientifique</a></li>
                                        <li> <a class="dropdown-item" href="/article/economique"> economique </a></li>
                                    <% }%>     
                               
							</ul>	
                        </li>
    
                        <!-- Nav item 3 Post -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="postMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Post</a>
                            <ul class="dropdown-menu" aria-labelledby="postMenu">
                                <% if(locals.user){%>
                                <li> <a class="dropdown-item" href="/admin">admin</a></li>
                                <li> <a class="dropdown-item" href="/admin/article/create">Ajouter</a></li>
                                <li> <a class="dropdown-item" href="/admin/deconnect">se deconnecter </a></li>  
                                <%}else{ %> 
                                <li> <a class="dropdown-item" href="/login">login</a></li>
                                <% }%>     
							</ul>	
                        </li>
    
                    </ul>
                </div>
                
            </div>
        </nav>
        <!-- Logo Nav END -->
    </header>
    
