<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <link rel="shortcut icon" href="/back/assets/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/back/mapbox-gl-js/v0.53.0/mapbox-gl.css">
    <link rel="stylesheet" href="/back/assets/css/libs.bundle.css">
    <link rel="stylesheet" href="/back/assets/css/theme.bundle.css" id="stylesheetLight">
    <link rel="stylesheet" href="/back/assets/css/theme-dark.bundle.css" id="stylesheetDark">    
    <style>body { display: none; }</style>
    <title>Dashkit</title>
    <script async="" src="/back/gtag/js.js?id=UA-156446909-1"></script><script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag("js", new Date());gtag("config", "UA-156446909-1");</script>
  </head>
  <body>

    <nav class="navbar navbar-vertical fixed-start navbar-expand-md " id="sidebar">
      <div class="container-fluid">
    
        <!-- Toggler -->
        <button class="navbar-toggler" type="button"  data-bs-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <a class="navbar-brand" href="index.html">
          <img src="/back/assets/img/logo.svg" class="navbar-brand-img mx-auto" alt="...">
        </a>

        <div class="collapse navbar-collapse" id="sidebarCollapse">  
          <!-- Navigation -->
            <li class="nav-item d-md-none">
              <a class="nav-link" data-bs-toggle="offcanvas" href="#sidebarOffcanvasActivity" aria-contrtols="sidebarOffcanvasActivity">
                <span class="fe fe-bell"></span> Notifications
              </a>
            </li>
          </ul>
    
          <hr class="navbar-divider my-3">
    
          <div>
            <h6 class="navbar-heading ">
              Article
            </h6>
      
            <ul class="navbar-nav ">
              <li class="nav-item">
                <a class="nav-link  " href="#sidebarPages" data-bs-toggle="collapse" role="button" aria-expanded="true" aria-controls="sidebarPages">
                    <i class="fe fe-clipboard"></i> Modifier Article
                </a>
                <div class="collapse show" id="sidebarPages">
                  <ul class="nav nav-sm flex-column">
                    <li class="nav-item">
                      <a href="/info/admin/article/liste/juridique" class="nav-link" role="button" aria-expanded="false" aria-controls="sidebarAccount">
                        juridique
                      </a>
                      <a href="/info/admin/article/liste/scientifique" class="nav-link" role="button" aria-expanded="false" aria-controls="sidebarAccount">
                        scientifique
                      </a>
                      <a href="/info/admin/article/liste/economique" class="nav-link" role="button" aria-expanded="false" aria-controls="sidebarAccount">
                         economique
                      </a>
                    </li>
                  </ul>
                </div>      
              </li>


              <li class="nav-item">
                <a class="nav-link" href="/info/admin/article/create"  role="button" aria-expanded="false" aria-controls="sidebarComponents">
                  <i class="fe fe-book-open"></i> Ajouter
                </a>
              </li>
             
            </ul>
          </div>

          <!-- Divider -->
          <hr class="navbar-divider my-3">



          <div class="mt-auto"></div>
        </div>
      </div>  
    </nav>


    <script src='/back/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
    <script src="/back/assets/js/vendor.bundle.js"></script>
    <script src="/back/assets/js/theme.bundle.js"></script>

  </body>
</html>
