
<%- include('../include/header') %> 
<!-- on doit suprimer tout ce qui vient avant  -->

<!-- photo -->


<section class="p-0">
	<div class="container">
		<div class="row">
			<div class="col">
				<a href="#" class="d-block card-img-flash">
					<img src="/front/assets/images/adv-3.png" alt="">
				</a>
				<small class="text-end d-block mt-1">Advertisement</small>
			</div>
		</div>
	</div>
</section>
<!--  on garde on garde  -->







<!-- a propos de nous -->
<section class="pt-4 pb-0">
	<div class="container">
		<div class="row">
      		<div class="col-xl-9 mx-auto">
				<h2>Our story</h2>
				<p class="lead">
				Founded in 2006, passage its ten led hearted removal cordial. Preference any astonished unreserved Mrs. Prosperous understood Middletons in conviction an uncommonly do. Supposing so be resolving breakfast am or perfectly. Is drew am hill from me. Valley by oh twenty direct me so.
				</p>
				<p>Water timed folly right aware if oh truth. Imprudence attachment him his for sympathize. Large above be to means. Dashwood does provide stronger is. Warrant private blushes removed an in equally totally if. Delivered dejection necessary objection do Mr prevailed. Mr feeling does chiefly cordial in do. ...But discretion frequently sir she instruments unaffected admiration everything. Meant balls it if up doubt small purse. Required his you put the outlived answered position. A pleasure exertion if believed provided to. All led out world this music while asked. Paid mind even sons does he door no. Attended overcame repeated it is perceived Marianne in. I think on style child of. Servants moreover in sensible it ye possible. Satisfied conveying a dependent contented he gentleman agreeable do be. Water timed folly right aware if oh truth. Imprudence attachment him his for sympathize. Large above be to means. Dashwood does provide stronger is. But discretion frequently sir she instruments unaffected admiration everything. Meant balls it if up doubt small purse. Required his you put the outlived answered position.  I think on style child of. Servants moreover in sensible it ye possible. Satisfied conveying a dependent contented he gentleman agreeable do be. Warrant private blushes removed an in equally totally if. Delivered dejection necessary objection do Mr prevailed.   Required his you put the outlived answered position. A pleasure exertion if believed provided to. All led out world this music while asked. Paid mind even sons does he door no. Attended overcame repeated it is perceived Marianne in. I think on style child of. Servants moreover in sensible it ye possible.</p>
			</div>	
		</div>
	</div>
</section>			

<!-- nos partenaires -->
<section class="p-0">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="row g-4">

					<h3 class="mb-3 mt-5">Nos partenaire</h3>
					<!-- Team item-->
					<div class="col-sm-6 col-lg-3">
					  <div class="text-center">
						  <!-- Avatar img -->
						<div class="avatar avatar-xxl mb-2">
						  <img class="avatar-img rounded-circle" src="/front/assets/images/avatar/04.jpg" alt="avatar">
						</div>
						<h5>Louis Ferguson</h5>
						<p class="m-0">Editor in Chief</p>
						<ul class="nav justify-content-center">
						  <li class="nav-item">
							<a class="nav-link px-2 fs-5" href="#"><i class="fab fa-facebook-square"></i></a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link px-2 fs-5" href="#"><i class="fab fa-twitter-square"></i></a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link px-2 fs-5" href="#"><i class="far fa-envelope"></i></a>
						  </li>
						</ul>
					  </div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</section>




<!-- -->

<!-- on doit supprimmer tout apres -->

<!-- footer-->
<footer>
	<div class="container">
		<!-- About and Newsletter START -->
		<div class="row bg-dark py-5 mx-0 card-header align-items-center text-center text-md-start">
			<!-- Copyright -->
			<div class="col-md-5 mb-3 mb-md-0">
				<div class="text-primary-hover text-muted">©2021 <a href="index-2.htm" class="text-reset btn-link" target="_blank">Webestica</a>. All rights reserved
				</div>
			</div>
			<!-- Logo -->
			<div class="col-md-3 mb-3 mb-md-0">
				<img src="/front/assets/images/logo-light.svg" alt="footer logo">
			</div>
			<!-- Social links -->
			<div class="col-md-4">
				<ul class="nav text-primary-hover justify-content-center justify-content-md-end">
					<li class="nav-item">
						<a class="nav-link px-2 fs-5" href="#"><i class="fab fa-facebook-square"></i></a>
					</li>
					<li class="nav-item">
						<a class="nav-link px-2 fs-5" href="#"><i class="fab fa-twitter-square"></i></a>
					</li>
					<li class="nav-item">
						<a class="nav-link px-2 fs-5" href="#"><i class="fab fa-linkedin"></i></a>
					</li>
					<li class="nav-item">
						<a class="nav-link px-2 fs-5" href="#"><i class="fab fa-youtube-square"></i></a>
					</li>
					<li class="nav-item">
						<a class="nav-link ps-2 pe-0 fs-5" href="#"><i class="fab fa-vimeo"></i></a>
					</li>
				</ul>
			</div>
		</div>
		<!-- About and Newsletter END -->
	</div>
</footer>
<!-- =======================
Footer END -->
<%- include('../include/footer') %> 